{% extends "base.html" %}

{% block title%}
Home Page 
{% endblock %}

{% block content %}

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="bd-placeholder-img" width="100%" height="100%" src="https://s1.1zoom.me/big7/15/Porsche_930_White_580004_1920x800.jpg"><rect width="100%" height="100%" fill="#777"></rect>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Пример 1.</h1>
            <p>Некоторое репрезентативное содержимое-заполнитель для первого слайда карусели.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img class="bd-placeholder-img" width="100%" height="100%" src="https://copamazatlan.com/assets/img/1920x800/img5.jpg"><rect width="100%" height="100%" fill="#777"></rect>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Пример заголовка 2.</h1>
            <p>Некоторое репрезентативное содержимое-заполнитель для первого слайда карусели.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" width="100%" height="100%" src="https://copamazatlan.com/assets/img/1920x800/img8.jpg"><rect width="100%" height="100%" fill="#777"></rect>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Пример заголовка 3.</h1>
            <p>Некоторое репрезентативное содержимое-заполнитель для первого слайда карусели.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
  </div>


  <!-- Маркетинговые сообщения и короткометражки
  ================================================== -->
  <!-- Оберните остальную часть страницы в другой контейнер, чтобы центрировать все содержимое. -->

  <div class="container marketing">

    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom">Что такое студенческие организации?</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <img width="64px" height="64px" src="../static/images/friends.png">
          <h2>Новые знакомства</h2>
          <p>Абзац текста под заголовком, поясняющий заголовок. Мы добавим к нему еще одно предложение и, вероятно, просто продолжим, пока у нас не закончатся слова.</p>
        </div>
        <div class="feature col">
          <img width="64px" height="64px" src="../static/images/znania.png">
          <h2>Новые знания</h2>
          <p>Абзац текста под заголовком, поясняющий заголовок. Мы добавим к нему еще одно предложение и, вероятно, просто продолжим, пока у нас не закончатся слова.</p>
        </div>
        <div class="feature col">
          <img width="64px" height="64px" src="../static/images/emotions.png">
          <h2>Новые эмоции</h2>
          <p>Абзац текста под заголовком, поясняющий заголовок. Мы добавим к нему еще одно предложение и, вероятно, просто продолжим, пока у нас не закончатся слова.</p>
        </div>
      </div>
    </div>


    <!-- START ОСОБЕННОСТИ -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Заголовок первой короткометражки. <span class="orange">Это взорвет твой разум.</span></h2>
        <p class="lead">Здесь есть отличный заполнитель для первой короткометражки. Представьте себе какую-нибудь увлекательную прозу.</p>
      </div>
      <div class="col-md-5">
        <img width="500" height="500" src="https://sun9-62.userapi.com/impg/CGZGDByzYxQzbHkhT9jdveOBoqazyc0Fd8GTag/U6juTlQzC9E.jpg?size=992x992&quality=96&sign=8aedb7919c2c871816257bd949000884&type=album">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Ах да, это так хорошо. <span class="orange">Убедитесь сами.</span></h2>
        <p class="lead">Еще одна короткометражка? Конечно. Здесь больше содержимого-заполнителя, чтобы дать вам представление о том, как этот макет будет работать с некоторым реальным контентом из реального мира.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img width="500" height="500" src="https://sun9-62.userapi.com/impg/CGZGDByzYxQzbHkhT9jdveOBoqazyc0Fd8GTag/U6juTlQzC9E.jpg?size=992x992&quality=96&sign=8aedb7919c2c871816257bd949000884&type=album">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">И, наконец, этот. <span class="orange">Шах и мат.</span></h2>
        <p class="lead">И да, это последний блок репрезентативного содержимого заполнителя. Опять же, на самом деле не предназначено для чтения, просто здесь, чтобы дать вам лучшее представление о том, как это будет выглядеть с некоторым фактическим содержанием. Ваш контент.</p>
      </div>
      <div class="col-md-5">
        <img width="500" height="500" src="https://sun9-62.userapi.com/impg/CGZGDByzYxQzbHkhT9jdveOBoqazyc0Fd8GTag/U6juTlQzC9E.jpg?size=992x992&quality=96&sign=8aedb7919c2c871816257bd949000884&type=album">

      </div>
    </div>

    <!-- /END ОСОБЕННОСТИ -->


{% endblock %}